
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #959595 !important;
}

.tab > a{ 
    color: #fff !important;
}
.photo{
    width: 100%;
    border-radius: 50%;
    border: #959595 solid 3px;
}
.photo1{
    width: 100%;
}
.card-block.user-info {
    top: 10px;
}
.color1{
    color: aquamarine;
}
.color2{
    color: #0FC3F1;
}
.color3{
    color: #959595;
}

.content {
    max-width: 1200px;
    margin: auto;
}

.card1{
    margin: 10px 0px 0px 10px;
    max-height: 650px;
    position: relative;
  overflow: scroll;
}
.card2{
    margin: 10px 0px 0px 10px;
    max-height: 350px;
    overflow: auto;
}
.count{
    margin-left: 37px;
}
.card-block.user-info {
    position: absolute;
    //width: 100%;
    bottom: 10px;
    padding: 1.25rem;
    margin-bottom: 40px;
    .media-body,
    .media-left {
        display: table-cell;
        vertical-align: middle;
    }
    .user-title {
        position: initial;
        margin-bottom: 10px;
        margin-top: 10px;
        padding-left: 20px;
        h4{
            color:white;
        }
    }
}


.cover{
    padding:0px;
   
}
.cover2{
    padding-left:100px;
    margin-bottom: 10px
}
.coverimg{
    border-radius: 50%;
    border: 5px solid #F6FADF;
}
.countblock{
    margin:-50px 0px 0px 0px;
    color:white;
}
.card-body{
    color: #000;
}
.tabs{
    margin:-41px 0px 14px 0px;
}

.btn1 {
    width: 40px;
    height: 40px;
    position: inherit;
    float: right;
    margin-top: 10px;
}

@media only screen and (min-width: 768px)
{

    .card-block.user-info {
    position: inherit;
    text-align: center;
     background-image: url("assets/images/user-profile/bg-img1.jpg" );
    margin-bottom: 0px;
    float: left;
    width: 100%;
    height: 191px;
}
.img-fluid {
    max-width: 100%;
    height: auto;
    display: none;
}
.count{
    margin-left: 0px;
}

.taxt{
    padding-left: 32px;
}

}
@media only screen and (max-width: 767px)
{
    .card-block.user-info {
    position: inherit;
    text-align: center;
    background-image: url("assets/images/user-profile/bg-img1.jpg" );
    margin-bottom: 0px;
    float: left;
    width: 100%;
    height: 191px;
}
.btn1{
    width: 40px;
    height: 40px;
    margin-top: 3px;
    margin-left: 26px;
    position: fixed;
    float: right !important;
}
.img-fluid {
    max-width: 100%;
    height: auto;
    display: none;
}

.countblock[_ngcontent-c0] {
    margin: -50px 0px 60px 0px;
    color: white;
}

.cover{
    padding:0px;
   
}

.cover2{
    padding-left:77px;
    margin-bottom: 10px
}
.coverimg{
    border-radius: 50%;
    border: 5px solid white;
}
.countblock{
    margin:-50px 0px 0px 0px;
    color:white;
}
.card-body{
    color: #000;
}
.tabs{
    margin:-41px 0px 0px 0px;
}
.card3{
    margin: 44px 0px 0px 10px;
    max-height: 300px;
    overflow: auto;
}

}

.white{
    color: #fff;
}
i{
    padding-right: 10px;
}

#toaster {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}

#toaster.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
