<div class="page-body">
  <div class="row">
    <div class="col-lg-12 cover">
      <div class="cover-profile">
        <div class="profile-bg-img">
          <img class="profile-bg-img img-fluid" src="assets/images/user-profile/bg-img1.jpg" alt="bg-img">
          <div class="card-block user-info">
            <div class="col-md-12 cover2" >
              <div class="media-left">
                  
                <a href="javascript:" class="profile-image">
                    
                  <img class="user-img img-radius coverimg" src="assets/images/user-profile/user-img.jpg" alt="user-img">
                </a>
              </div>
              <div class="media-body row">
                <div class="col-lg-12">
                  <div class="user-title">
                    <h4>Josephin Villa</h4>
                    <span class="color1">Web designer</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="content">
  <div class="row">
    <div class="col-xs-12 col-md-4 countblock">
      <div class="row text-center count">
        
        <div class="col-4">
          <span class="color1">Comments</span>
          <h6>{{commentCount}}</h6>
        </div>
        <div class="col-4 taxt">
            <span class="color1">Photos</span>
            <h6>{{photoCount}}</h6>
        </div>
        <div class="col-4">
            <span class="color1">Albums</span>
            <h6>{{albumCount}}</h6>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
            <div class="card card2 card3">
                <div class="card-body">
                  <strong class="color3">Users</strong><hr>
                    <div class="counter" *ngFor="let user of userData">
                      <div class="row justify-content-md-center">
                        <div class="col-2">
                          <p>{{user.id}}</p>
                        </div>
                        <div class="col-10">
                            <p><strong>{{user.name}}</strong></p>
                            <p class="color2">{{user.email}}</p>
                        </div>
                      </div><hr>
                    </div>
                  </div>
              </div>
        </div>
      </div>

      <div class="row">
          <div class="col-12">
              <div class="card card2">
                  <div class="card-body">
                      <strong class="color3">Tasks</strong><hr>
                      <div class="counter" *ngFor="let user of userTasks">
                        <div class="row justify-content-md-center">
                          <div class="col-2">
                            <p>{{user.id}}</p>
                          </div>
                          <div class="col-10">
                              <p class="color2"><strong>{{user.title}}</strong></p>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
          </div>
        </div>

    </div>
    <div class="col-xs-12 col-md-7 tabs">
        <tabset [justified]="true">
        <tab heading="Home" (select)="getHome()">  
            <div class="card card1">
                <div class="card-body">
                    <strong class="color3">Home</strong><hr>
                    <div class="counter" *ngFor="let user of data">
                      <div class="row justify-content-md-center">
                        <div class="col-1">
                          <p>{{user.id}}</p>
                        </div>
                        <div class="col-11">
                          <p><strong>{{user.title}}</strong></p>
                          <p class="color3">{{user.body}}</p>
                        </div>
                      </div><hr>
                    </div>
                  </div>
              </div>
        </tab>
        <tab heading="Album" (select)="getAlbum()">
            <div class="card card1">
                <div class="card-body">
                    <strong class="color3">Albums</strong><hr>
                    <div class="counter" *ngFor="let user of data">
                      <div class="row justify-content-md-center">
                        <div class="col-1">
                          <p>{{user.id}}</p>
                        </div>
                        <div class="col-11">
                          <p><strong>{{user.title}}</strong></p>
                        </div>
                      </div><hr>
                    </div>
                  </div>
              </div>
        </tab>
        <tab customClass="'tab'" heading="Photos" (select)="getPhotos()">
            <div class="card card1">
                <div class="card-body">
                    <strong class="color3">Photos</strong><hr>
                    <div class="counter" *ngFor="let user of data">
                      <div class="row justify-content-md-center">
                        <div class="col-2">
                            <img class="photo" src="{{user.thumbnailUrl}}">
                        </div>
                        <div class="col-10">
                          <p><strong>{{user.title}}</strong></p>
                          <img class="photo1" src="{{user.url}}">
                        </div>
                      </div><hr>
                    </div>
                  </div>
              </div>
        </tab>
        <tab heading="Users" (select)="getPosts()" class="color3">
            <div class="card card1">
                <div class="card-body">
                    <strong class="color3">Users</strong><hr>
                    <div class="counter" *ngFor="let user of data">
                      <div class="row justify-content-md-center">
                        <div class="col-1">
                          <p>{{user.id}}</p>
                        </div>
                        <div class="col-11">
                          <p><strong>{{user.userId}}</strong></p>
                          <p class="color2">{{user.title}}</p>
                          <p class="color3">{{user.body}}</p>
                        </div>
                      </div><hr>
                    </div>
                  </div>
              </div>
        </tab>
      </tabset>
    </div>
    <button class="btn btn1 btn-danger btn-fab" md-ripple (click)="openModal(template)"><i class="zmdi zmdi-collection-plus"></i></button>
    </div>
</div>
  
</div>
<ng-template #template>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Add Posts</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form>
         <div class="row">
          <div class="form-group col-md-6">
                <input type="number" class="form-control form-control-primary" placeholder="User Id" required>
              </div>    
              <div class="form-group col-md-6">
                  <input type="number" class="form-control form-control-primary" placeholder="Post Id" required>
                </div> </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Post Title" required>
            </div>
            <div class="form-group">
                <textarea rows="5" cols="5" class="form-control" placeholder="Post Description"></textarea>
            </div>
          
          <button class="btn btn-primary" click="toaster()">Save Post</button>
          <div id="toaster">Post successfully submited </div>
        </form>
    </div>
  </ng-template>
  
     